.count-div{
    background-color: rgb(34, 31, 31);
    display: flex;
    justify-content: center;
    width: 100px;
    border: 3px solid;
    border-color: white;
    color: white;
  }
  h1{
    font-size: 100px;
    
    }