
.main-div{
  background-color: rgb(9, 9, 9);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-div h1{
font-size: 100px;

}
.count-div{
  background-color: rgb(34, 31, 31);
  display: flex;
  justify-content: center;
  width: 100px;
  border: 3px solid;
  border-color: white;
  color: white;
}

.btn{
margin: 5px;
display: flex;
justify-content: center;
padding: 5px;
height: 60px;
width: 120px;

margin-top: 20px;


}
.plusbtn{
  
  background-color: green;
  margin-left: 5px;
  height: 50px;
  width: 50px;
}
.minusbtn{
  background-color: rgb(198, 17, 17);
  height: 50px;
  width: 50px;
}

