*{
    margin: 0;
}
.btn-div{

    display: flex;
    justify-content: center;
    padding: 5px;
    height: 60px;
    width: 120px;
    border: none;
    margin: 0;
    
    
    
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: rgb(6, 64, 81);
    height: 70px;
    font-size: 83px;
    width: 50px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    
}
.btn:hover{
    color: black;
}
